body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    font-weight: 400; 500; 700;
    width: 100;
    height: 100;
    margin: 0;
    padding: 0;
    display: block;
}
img{
    display: block;
}

h1 h2 h3 h4 h5 h6 p ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.item {
    width: 1440px;
    height: 72px;
    border: 1px solid #e7e9fc;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 156px;
    margin-right: 156px;
}

.tepe {
    background-color: #ffffff;
    justify-content: space-between;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.tepe .tepe-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    margin-right: 76px;
}

.tepe .tepe-link span {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.tepe ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;    
}

.tepe .liste .tepelink .link {
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    padding: 24px 0;
}

.liste .tepelink .link:hover {
    color: #404bbf;
    display: flex;
}

.liste .tepelink .link:focus {
    color: #404bbf;
}

.adres {
    font-style: normal;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 24px;
    margin-left: 332px;
    gap: 40px;
}

.adres .liste2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.adres .liste2 .link-a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;    
    justify-content: end;
}

.adres .liste2:first-child {
    width: 153px;
    height: 24px;
}

.adres .liste2:last-child {
    width: 151px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 156px;
}

.liste2 .link-a:hover {
    color: #404bbf;
}

.liste2 .link-a:focus {
    color: #404bbf;
}

.parta {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin-left: 156px;
    margin-right: 156px;


}

.parta .parta-baslik {
    color: #ffffff;    
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    width: 496px;
    height: 120px;
    margin: 0px 472px 292px 472px;
    align-items: center;
}

.parta .link-b {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;    
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    flex-direction: row;
}

.parta .link-b:hover {
    background-color: #404BBF;
}

.parta .link-b:focus {
    background-color: #404BBF;
}

.partb {
    background-color: #e7e9fc;
    width: 1440px;
    height: 200px;
    padding: 120px 0;
    margin-left: 156px;
}
.partb .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}  
    
.partb .liste3 {
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    gap: 24px; 
}
.partb .li-a{
    width: calc((100% - 72px)/4);
}
.liste3 .li-a h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.partb .liste3 .partb-yazi {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 104px;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;    
}

.partc {
    background-color: #f4f4fd;
    width: 1440px;
    height: 732px;
    padding: 120px 0;
}
.partc .liste4 div{
    display: flex;
    gap: 24px;
    padding: 32px 0;
}
.partc .partc-baslik {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;    
    margin-top: 120px;
    margin-left: 639px;
    margin-top: 0px;
    margin-bottom: 72px;
}
    
.partc .liste4{
    display: flex;
    box-sizing: content-box;
    list-style-type: none;    
    flex-direction: row;
    gap: 24px;   
}
.alt-liste {
    background-color: #ffffff;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.alt-liste .name{
    padding: 32px 0;
}
.alt-liste .name .partc-baslik-a {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
    margin-bottom: 8px;
    text-align: center;    
}
.altliste .name .partc-yazi {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 32px 0; 
}
.name p{
    text-align: center;
}
.partd{
    padding: 120px 0;
}

.partd .partd-baslik {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;    
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    margin-bottom: 72px;
}
.partd .liste5{
    width: 1128px;
    height: 420px;
    box-sizing: content-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: 156px;
    margin-right: 156px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.partd .liste5 .list{
    width: calc((100% - 72px)/4)
}
.partd .liste5 .name-a{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    margin-bottom: 8px;
    border-top: none;
}
.partd .liste5 .name-a h3{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    margin-bottom: 8px;
    border-top: none
}
.partd .liste5 .altbaslik {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: calc((100% - 72px)/4);    
}
.partd .liste5 .partd-yazi {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.final {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    display: flex;
    flex-direction: row;
    padding: 100px 0;
}
.final-link{
    margin-bottom: 16px;
}
.final-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}
.final .final-link-c {
    color: #f4f4fd;      
}
.final div p {
    max-width: 264px;
}
.final .final-yazi {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;    
}