body {
    font-family: Roboto,sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    font-weight: 400; 500; 700;
}
.tepe{
    background-color: #ffffff;    
}
.tepe .tepe-1{
    color: #4d5ae5;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.accent{
    color: #f4f4fd;
    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}   
    .liste1 .link{
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .liste1 .link:hover {
    color: #404bbf;
    }
    .liste1 .link:focus{
    color: #404bbf;
    }    
.adres{
    font-style: normal;
}
.liste2 .link1{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.liste2 .link1:hover {
    color: #404bbf;
}

.liste2 .link1:focus {
    color: #404bbf;
}
.part1{
    background-color: #2e2f42;
}
.part-1 baslik {
    color: #ffffff;
    font-family: roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}   
.part1 .link3{
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;    
}
.part1 .link3:hover{
    background-color: #404BBF;
}
.part1 .link3:focus {
    background-color: #404BBF;
}
.part2 .part2 baslik{
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.liste3 .part2 baslik1{
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
}
.liste3 .part2 yazi{
    color: #434455;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.part3{
    background-color: #f4f4fd;
}
.part3 baslik{
    color: #2e2f42;
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.liste4 .liste4-1{
    background-color: #FFFFFF;
}
.liste4 .part3 baslik1 {
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.liste4 .part3 yazi{
    color: #434455;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.part4 baslik{
    color: #2e2f42;
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.list5 .part4 baslik1 {
    color: #2e2f42;
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}
.liste5 .part4 yazi {
    color: #434455;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}
.final {
    background-color: #2e2f42;
}
.tepe .tepe-1 {
    color: #4d5ae5;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.accent {
    color: #2e2f42;
    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}
.final yazi{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: justify;
}
   


